.App {
  text-align: center;
}

.App-logo {
  /* height: 10vmin;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; */
  height: 15vmin;
  text-align: left;
  padding-bottom: 3%;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #d22e1e;
}

.question-text {
  height: 70px;
  width: 500px;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.Title {
  font-size: 35px;
}

.next-question {
  padding: 10px 20px;
  margin-top: 20px;
}

.question-count {
  padding-top: 10%;
  padding-bottom: 10%;
}

.answer-section {
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.correct {
  background-color: greenyellow !important;
}

.incorrect {
  background-color: white !important;
}

.is-correct {
  padding-top: 9%;
}

.Button {
  /* background-color:; */
  color: #004879;
  width: 300px;
  /* Adjust the width as needed */
  padding: 15px;
  /* Adjust the padding as needed */
  font-size: 16px;
  /* Adjust the font size as needed */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
